<html>
    <head>
        <link href="C:\Users\solo programar\Desktop\proyectSem - Clon\FRONT_INFUNABLES\src\app\components\login\login.component.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
          
              <!-- Icon -->
              <div class="fadeIn first">
                <img src="../../../assets/img/estudiante.png" id="icon" alt="User Icon" />
                <h1> IntelliEsc </h1>
              </div>
          
              <!-- Login Form -->
              <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="username">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
              </form>
          asdasdasdasd
              <!-- Remind Passowrd -->
              <div id="formFooter">
                <a class="underlineHover" href="localhost:4200/register">-Create Acount-</a>
              </div>
          
            </div>
        </div>
    </body>
</html>